<!DOCTYPE html>
<html lang="en" style="background: #000 url({{ img }}) no-repeat center -140px fixed;
-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; 
background-size: cover; background-position-y: center;">
<head>
	<meta charset="utf-8" />
	<title>Forgotitube | Discover a previously unwatched YouTube video</title>

<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico' )}}" type="image/x-icon" />
</head>
<body>
	<div id="outer">
		<div id="wrapper">
			<h1>Don't forget me.</h1>
			<h3>A huge number of videos on YouTube have never been played.<br />Not even once. Let's change that.</h3>
			<br />
			<input id="submitbutton" onClick="location.href='../video'" type="submit" form="settings-form" value="Start Watching" />
		</div>
		<div id="footer">
				<span>
					&copy; 2014 <a href="https://github.com/metalgeek/forgotitube">Forgotitube</a>. Much love to <a href="http://www.youtube.com">Youtube</a>.
				</span>
		</div>
	</div>
</body>
</html>