<!DOCTYPE html>
<html lang="en" style="background: #000 url({{ img }}) no-repeat center -140px fixed;
-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; 
background-size: cover; background-position-y: center;">
<head>
	
	<meta charset="utf-8" />
	
	<title>Forgotitube | Discover a previously unwatched YouTube video</title>

<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon" />

</head>
<body class="home">
	
		<div id="wrapper" style="background: none; margin-top:5%;">
		
			<iframe width="500" height="281" src="http://www.youtube.com/embed/{{ id }}" frameborder="0" allowfullscreen></iframe>
			<br />
			<input id="submitbutton" onClick="location.href='../video'" type="submit" form="settings-form" value="New Video" />
		</div>
		<div id ="options">
			<details{{ opendisp }} id="errormess"><summary></summary><p>Oops! The search timed out. Either try to raise the view limit or put some options to their default value.
			<br />
			<br />
			Enjoy this cat video while you adjust the options.</p></details>
			<h2>Options</h2>
			<hr />
			<form id="settings-form" action="/video" method="POST">
			    <label> View limit: <input type="text" autocomplete="off" name="limit" value="{{ limit }}" placeholder="Default: 50" /> </label>
			    <br />
			    <label> Search query: <input type="text" name="query" value="{{ query }}" autocomplete="off" placeholder="Default: Random Word" /> </label>
			
			<div id ="advoptions">
			 	<details class="visa">
			 	<summary>Advanced options <hr style="background:#c0c0c0; border:0; height:1px" /></summary>
			 	<fieldset>
				    <label> Duration upper limit (sec): <input type="text" value="{{ upduration }}" autocomplete="off" name="upduration" placeholder="Default: ∞" /> </label>
				    <br />
				    <label> Duration lower limit (sec): <input type="text" value="{{ loduration }}" autocomplete="off" name="loduration" placeholder="Default: 0" /> </label>
				    <br />
				    <label> Category: 
				    <select name="category">
				      <option value="any"{% if category=="any" %} selected{% endif %}>Any</option>
				      <option value="Autos &amp; Vehicles"{% if category=="Autos &amp; Vehicles" %} selected{% endif %}>Autos &amp; Vehicles</option>
				      <option value="Comedy"{% if category=="Comedy" %} selected{% endif %}>Comedy</option>
				      <option value="Education"{% if category=="Education" %} selected{% endif %}>Education</option>
				      <option value="Entertainment"{% if category=="Entertainment" %} selected{% endif %}>Entertainment</option>
				      <option value="Film &amp; Animation"{% if category=="Film &amp; Animation" %} selected{% endif %}>Film &amp; Animation</option>
				      <option value="Howto &amp; Style"{% if category=="Howto &amp; Style" %} selected{% endif %}>Howto &amp; Style</option>
				      <option value="Music"{% if category=="Music" %} selected{% endif %}>Music</option>
				      <option value="News &amp; Politics"{% if category=="News" %} selected{% endif %}>News &amp; Politics</option>
				      <option value="Nonprofits &amp; Activism"{% if category=="Nonprofits &amp; Activism" %} selected{% endif %}>Nonprofits &amp; Activism</option>
				      <option value="People &amp; Blogs"{% if category=="People &amp; Blogs" %} selected{% endif %}>People &amp; Blogs</option>
				      <option value="Pets &amp; Animals"{% if category=="Pets &amp; Animals" %} selected{% endif %}>Pets &amp; Animals</option>
				      <option value="Science &amp; Technology"{% if category=="Science &amp; Technology" %} selected{% endif %}>Science &amp; Technology</option>
				      <option value="Sports"{% if category=="Sports" %} selected{% endif %}>Sports</option>
				      <option value="Travel &amp; Events"{% if category=="Travel &amp; Events" %} selected{% endif %}>Travel &amp; Events</option>
				    </select>
			 	</fieldset>
			 	</details>
			</div>
		</form>
	</div>

</body>
</html>