<!DOCTYPE html>
<html lang="en" style="background: #000 url({{ img }}) no-repeat center -140px fixed;
-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; 
background-size: cover; background-position-y: center;">
<head>
	
	<meta charset="utf-8" />
	
	<title>Forgotitube | Discover a previously unwatched YouTube video</title>

<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css' />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon" />

  <script type=text/javascript>
    $(function() {
      $('a#submitbutton').bind('click', function() {
        $.getJSON('/get_video_id', {
        }, function(data) {
          $("#iframe").attr('src', data.result);
        });
        return false;
      });
    });
  </script>3

<script type="text/javascript">
    function FilterAlpha (event) {
	    var keyCode = ('which' in event) ? event.which : event.keyCode;

	    isAlpha = (keyCode >= 48 /* KeyboardEvent.DOM_VK_0 */ && keyCode <= 57 /* KeyboardEvent.DOM_VK_9 */) || 
	    			(keyCode >= 96 /* KeyboardEvent.DOM_VK_NUMPAD0 */ && keyCode <= 105 /* KeyboardEvent.DOM_VK_NUMPAD9 */);
	    modifiers = (event.altKey || event.ctrlKey || event.shiftKey);
	    arrowsBack = keyCode == 8 || keyCode == 9 || (keyCode >= 37 && keyCode <= 40)
	    return isAlpha || modifiers || arrowsBack;
    }
 </script>
<div id="fb-root"></div>
 <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

</head>

<body class="home">
	<div id="outer">
		<div id="wrapper" style="background: none; margin-top:5%;">
			<iframe  width="500" id="iframe" height="281"  src="http://www.youtube.com/embed/{{ id }}" frameborder="0" allowfullscreen></iframe>
			<br>
			<input href="javascript:void();" id="submitbutton" type="submit" form="settings-form" value="New Video" />
			<br>
			

		</div>
		<div id ="options">
			<p style="display: {{ opendisp }};">Oops! The search timed out. Either try to raise the view limit or put some options to their default value.
			<br>
			<br>
			Enjoy this cat video while you adjust the options.</p>
			<div id="optheader">
				<div class="opttitle">
					<h2>Options</h2>
				</div>
				<div class="fb-share-button" data-href="https://www.youtube.com/watch?v={{ id }}" data-type="icon_link">
				</div>
			</div>
			<hr />
			<form id="settings-form" action="/video" method="POST">
			    <input id="mode"  type="checkbox" value="mode" name="mode" {% if mode=="checked" %} checked{% endif %}>
	    		    <label for="mode">Continuous Mode</label> <br>
			    <label> View limit: <input type="text" autocomplete="off" name="limit" value="{{ limit }}" placeholder="Default: 50" onkeydown="return FilterAlpha (event)" /> </label>
			    <br>
			    <label> Search query: <input type="text" name="query" value="{{ query }}" autocomplete="off" placeholder="Default: Random Word" /> </label>
			
			<div id ="advoptions">
			 	<details>
			 	<summary>Advanced options <hr style="background:#c0c0c0; border:0; height:1px" /></summary>
			 	<fieldset>
				    <label> Duration upper limit (sec): <input type="text" value="{{ upduration }}" autocomplete="off" name="upduration" placeholder="Default: ∞" onkeydown="return FilterAlpha (event)" /> </label>
				    <br>
				    <label> Duration lower limit (sec): <input type="text" value="{{ loduration }}" autocomplete="off" name="loduration" placeholder="Default: 0" onkeydown="return FilterAlpha (event)" /> </label>
				    <br>
				    Categories (will match any category if all is unchecked): <br>
				    <div style="width: 49%; float: left;">
				    	<input id="aut" type="checkbox" value="Autos &amp; Vehicles" name="aut" {% if "Autos &amp; Vehicles" in category %} checked{% endif %}>
				    		<label for="aut">Autos &amp; Vehicles</label> <br>

				    	<input id="com"  type="checkbox" value="Comedy" 
				    			name="com" {% if "Comedy" in category %} checked{% endif %}>
				    		<label for="com">Comedy</label> <br>

				    	<input id="edu"  type="checkbox" value="Education" 
				    			name="edu" {% if "Education" in category %} checked{% endif %}>
				    		<label for="edu">Education</label> <br>

				    	<input id="ent" type="checkbox" value="Entertainment" 
				    			name="ent" {% if "Entertainment" in category %} checked{% endif %}>
				    		<label for="ent">Entertainment</label> <br>

				    	<input id="fil" type="checkbox" value="Film &amp; Animation" 
				    			name="fil" {% if "Film &amp; Animation" in category %} checked{% endif %}>
				    		<label for="fil">Film &amp; Animation</label> <br>

				    	<input id="how" type="checkbox" value="Howto &amp; Style" 
				    			name="how" {% if "Howto &amp; Style" in category %} checked{% endif %}>
				    		<label for="how">Howto &amp; Style</label> <br>

				    	<input id="mus" type="checkbox" value="Music" 
				    			name="mus" {% if "Music" in category %} checked{% endif %}>
				    		<label for="mus">Music</label> <br>
				    </div>

				    <div style="width: 49%; float: right;">
				    	<input id="new" type="checkbox" value="News &amp; Politics" 
				    			name="new" {% if "News &amp; Politics" in category %} checked{% endif %}>
				    		<label for="new">News &amp; Politics</label> <br>

				    	<input id="non" type="checkbox" value="Nonprofits &amp; Activism" 
				    			name="non" {% if "Nonprofits &amp; Activism" in category %} checked{% endif %}>
				    		<label for="non">Nonprofits &amp; Activism</label> <br>

				    	<input id="peo" type="checkbox" value="People &amp; Blogs" 
				    			name="peo" {% if "People &amp; Blogs" in category %} checked{% endif %}>
				    		<label for="peo">People &amp; Blogs</label> <br>

				    	<input id="pet" type="checkbox" value="Pets &amp; Animals" 
				    			name="pet" {% if "Pets &amp; Animals" in category %} checked{% endif %}>
				    		<label for="pet">Pets &amp; Animals</label> <br>

				    	<input id="sci" type="checkbox" value="Science &amp; Technology" 
				    			name="sci" {% if "Science &amp; Technology" in category %} checked{% endif %}>
				    		<label for="sci">Science &amp; Technology</label> <br>

				    	<input id="spo" type="checkbox" value="Sports" 
				    			name="spo" {% if "Sports" in category %} checked{% endif %}>
				    		<label for="spo">Sports</label> <br>

				    	<input id="tra" type="checkbox" value="Travel &amp; Events" 
				    			name="tra" {% if "Travel &amp; Events" in category %} checked{% endif %}>
				    		<label for="tra">Travel &amp; Events</label> <br>
				    </div> 
			 	</fieldset>
			 	</details>
			</div>
			</form>
		</div>
		<div id="footer" style=
							"width: 35%; padding-left: 10px; 
							padding-right: 10px; background: rgba(16,16,16,0.7);">
				<span>
					&copy; 2014 <a href="https://github.com/metalgeek/forgotitube">Forgotitube</a>. Much love to <a href="http://www.youtube.com">Youtube</a>.
				</span>
		</div>
	</div>

</body>
</html>